*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.toast{
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    min-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toast span{
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
}